<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="container">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste in praesentium error ipsa hic quia quidem cupiditate. Ab ut sapiente vel nulla temporibus veritatis cum soluta officia repellat eligendi?</p>
        <form>
            <input type="text" placeholder="address">
            <button>
                Submit
            </button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        {{>footer}}
    </div>
    <script src="/js/app.js"></script>
</body>
</html>